set editing-mode vi
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-query-items 0
set page-completions off
set show-all-if-unmodified on
set mark-symlinked-directories on
#TAB:menu-complete

$if mode=vi
    set keymap vi-command
    ";": end-of-line
    set keymap vi-insert
    "jj": vi-movement-mode
$endif
