y.jpg
y1.jpg
y1.xcf
y2.png
y3.png
y3.xcf
libreoffice
neofetch
yay
xdg-desktop-portal-wlr
blender
GIMP
htop
Thunar
mimeapps.list
FreeCAD
go
xfce4
remmina
qutebrowser
gzdoom
restorejustice.session
my_accaunt.session
atril
**/Arduino IDE/
arduino-ide
QtProject.conf
pavucontrol.ini
cmus
dconf
coc
pulse

QtProject.conf
mimeapps.list
pavucontrol.ini
cmus
